[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
markdown = "*"
bs4 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.7"
